.board-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 720px;
  padding: 10px;

}

.board {
  position: relative;
}

.gutter-box {
  width: 120px;
  height: 100px;
}

.cell {
  border: 2px solid lightgray;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board-description {
  max-width: 720px;
  text-align: center;
}

.description-text-col {
  display: flex;
  align-items: flex-start;
}

.description-text {
  color: var(--color-text) !important;
  font-size: 12px;
  margin-bottom: 0px !important;
}

.description-text img {
  width: 20px;
  margin-bottom: 10px;
  margin-right: 6px;
}

.board-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-text) !important;
}

.board-title h4, h5 {
  color: var(--color-text) !important;
}

.timer {
  column-gap: 4px;
}

.timer svg {
  margin-top: 6px;
}

.status-modal h1 { 
  color: var(--color-secondary) !important;
  text-align: center;
  margin: 0px !important;
}

.board-footer {
  margin-top: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.board-footer button {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.board-footer button:hover {
  border-color: var(--color-secondary);
  background-color: var(--color-secondary);
}

.leaderboard-btn {
  background-color: var(--color-secondary) !important;
  border-color: var(--color-secondary) !important;
}

.leaderboard-btn:hover {
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
}

.message {
  font-size: 12px;
}

.loader {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.navigator {
  width: 100%;
  color: var(--color-text) !important;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mid-btn-container {
  display: flex;
  flex-direction: column;
}

.nav-btn {
  color: var(--color-secondary) !important;
}

.nav-btn:hover, .nav-btn:active {
  border-color: var(--color-secondary) !important;
  opacity: 0.8;
}

.horizontanl-btn {
  margin: 3px 0px;
  height: 166px !important;
  width: 100px !important;
}
.vertical-btn {
  height: 80px !important;
  width: 120px !important;
  margin: 3px 0px;
}

@media screen and (max-height: 800px) {
  .board-section {
    margin: 10px 0px;
  }
}